ENV=dev

APP__TITLE=LLM Service
APP__VERSION=1.0.0
APP__DEBUG=True
APP__HOST=0.0.0.0
APP__PORT=8000

APP__CORS_ORIGINS=["http://localhost:3000", "http://127.0.0.1:3000"]
APP__CORS_HEADERS=["*"]
APP__CORS_CREDENTIALS=True

LLM__API_KEY=

RAG__VECTOR_STORE=chromadb
RAG__EMBEDDING_MODEL=intfloat/multilingual-e5-base
RAG__CHUNK_SIZE=800
RAG__CHUNK_OVERLAP=150
