services:
  app:
    build: .
    env_file:
      - .env
    ports:
      - "8000:8000"
    environment:
      - QDRANT_HOST=qdrant_db
    depends_on:
      - qdrant_db
      - redis
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  qdrant_db:
    image: qdrant/qdrant:latest
    container_name: qdrant_db
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./qdrant_storage:/qdrant/storage
    restart: unless-stopped